/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
secret.json
/.idea
toni-shopper-2-fbdecb496111.json
secret-client.json
composer.lock